@import "./variables.scss";

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: #fbf5ef; border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: transparent; }
#messages { margin-bottom: 40px }


textarea#bloopinPut.textarea.is-small {
  background-color: transparent;
  border-color: $ghostColor;
  border-radius: 4px;
  color: $accentBright;
  font-weight: 15px;
}

.column.is-half {
  text-align: center;
}

button.button.is-outlined.is-rounded.is-small.is-size-6 {
  border-width: 3px;
  box-shadow: 2px 1px 2px $primaryShadow;
  font-weight: 800;
}

div.bloopBox.message-body {
  box-shadow: 2px 1px 2px $primaryShadow;
}

.blooper.is-size-6 {
  color: $accentLight;
  font-weight: 750;
}

.sentBloop.is-size-6 {
  color: $accentBright;
}

.sentBlooper {
  text-align: left;
}

div.currentUser {
  margin-left: 5.1rem;
}