$primaryColor: #272744;
$primaryShadow: #494d7e;

$ghostColor: #8b6d9c;
$drowsyPeach: #c69fa5;

$accentLight: #f2d3ab;
$accentBright: #fbf5ef;





$card-background-color: #494d7e;
$button-background-color: transparent;

$button-color: $accentLight;
$button-border-color: $ghostColor;

$button-active-color: $drowsyPeach;
$button-active-color: $ghostColor;

$button-focus-color: $primaryColor;
$button-focus-border-color: $primaryShadow;
$button-focus-box-shadow-color: $ghostColor;

$button-hover-color: $accentBright;
$button-hover-border-color: $ghostColor;






$control-radius: 5rem;


$message-header-background-color: transparent;
$message-background-color: transparent;

$message-body-border-color: #8b6d9c;
$message-header-border-color: #8b6d9c;
$message-header-body-border-width: 5px;

$message-body-radius: 5rem;

$message-header-radius: 2rem;
$message-header-color: $accentLight;

