$primaryColor: #272744;
$primaryShadow: #494d7e;

$ghostColor: #8b6d9c;
$drowsyPeach: #c69fa5;

$accentLight: #f2d3ab;
$accentBright: #fbf5ef;





$card-background-color: #494d7e;
$button-color: #272744;
$button-background-color: transparent;
$button-border-color: #494d7e;
$message-header-background-color: transparent;
$message-background-color: transparent;
$message-body-border-color: #8b6d9c;
$message-header-border-color: #8b6d9c;
$message-header-body-border-width: 7px;
$message-body-radius: 10rem;
$message-header-radius: 2rem;
$message-header-color: #c69fa5;

